.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  margin: 20px;
  &:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease;
  }
  &__article {
    &--frame {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 280px;
      background-image: url('../../images/frame.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-bottom: 10px;
    }
    &--img {
      width: 150px;
      height: 210px;
      object-fit: cover;
    }
    &--title {
      color: white;
      font-size: 18px;
      font-weight: 500;
      margin-left: 10px;
      margin-top: 5px;
      max-width: 190px;
      text-align: center;
    }
    &--text {
      color: white;
      font-weight: lighter;
      margin-left: 10px;
      margin-bottom: 5px;
      text-align: center;
    }
  }
}
