.btn {
  margin-top: 20px;
  height: 40px;
  width: 200px;
  border: 2px solid rgb(198, 167, 89);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.515);
  color: white;
  font-size: 17px;
  font-weight: 500;
  &:hover {
    background-color: rgb(198, 167, 89);
    transform: scale(1.05);
    transition: background-color 0.7s ease, transform 0.2s ease;
  }
}
